---
layout: default
permalink: /talks/
title: Talks
---
<article class="about-section py-5">
  <div class="container">
    <h2 class="title mb-3">Palestras</h2>
    <figure>
      <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/images/about-me.jpeg" alt="python brasil 2019">
      <figcaption style="text-align:center">Python Brasil 2019</figcaption>
    </figure>

    {% for post in site.posts %}
      {% if post.type == "talk" %}
        <h5 class="mt-5">{{ post.title }}; em {{ post.date | date: "%b %-d, %Y"}}</h5>
        <p>{{ post.description }}</p>
      {% endif %}
    {% endfor %}
  </div>
</article><!--//about-section-->
