---
layout: default
permalink: /tutorials/
title: Tutorials
---

<article class="about-section py-5">
  <div class="container">
    <h2 class="title mb-3">Tutoriais</h2>
    <figure>
      <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/images/blog/banner-tutoriais.png" alt="tutoriais">
    </figure>

    {% for post in site.posts %}
      {% if post.type == "tutorial" %}
        <a href="{{ post.url | prepend: site.url }}"><h5 class="mt-5">{{ post.title }} | {{ post.date | date: "%b %-d, %Y"}}</h5></a>
        <p>{{ post.description }}</p>
      {% endif %}
    {% endfor %}
  </div>
</article><!--//about-section-->
