<div class="container">
  <div class="profile-teaser media flex-column flex-lg-row">

    <div class="media-body">
      <h2 class="name font-weight-bold mb-1">Maria Fernanda Souza</h2>
      <div class="tagline mb-3">Engenheira de Dados | Pesquisadora | Professora | Palestrante | Apaixonada por Python</div>
      <div class="bio mb-4">Eu sou bacharelanda em Ciência da Computação na UFRPE e atualmente também sou engenheira de dados Jr na Oncase. Além de mexer com dados, tenho experiência na área de machine learning, com ênfase em Visão Computacional.
      Estou envolvida em algumas comunidade, como o PyLadies Recife, o PUG-PE e o IA Girls Brasil, também faço parte da organização do Women in Data Science Recife (WIDS Recife).</div>
      <div class="bio mb-4">Quando arrumo um tempinho livre, eu estou dando aula particular, palestrando ou escrevendo no meu blog. Para mim essas são as melhores maneiras de reforçar o conhecimento e me ajuda a me manter sempre estudando.</div>
      <div class="bio mb-4">Se você quiser saber mais sobre tudo isso que eu faço, está tudo aqui no meu site (hehe).</div><!--//bio-->
      <div class="mb-4">
        <a class="btn btn-secondary mb-3" href="mailto:{{ site.email }}" target="_blank"><i class="far fa-envelope fa-fw mr-2"></i>Entre em contato comigo</a>
      </div>
    </div><!--//media-body-->
  </div>
</div>
