<div class="container">
  <div class="profile-teaser media flex-column flex-lg-row">

    <div class="media-body">
      <h2 class="name font-weight-bold mb-1">Maria Fernanda Souza</h2>
      <div class="tagline mb-3">Engenheira de Dados | Pesquisadora | Professora | Palestrante | Apaixonada por Python</div>
      <div class="bio mb-4">Recifense, mãe de três gatas (Fuxico, Miau e Gata) e apaixonada por Ficção Científico. Curso Ciência da Computação na UFRPE e trabalho como Engenheira de Dados na Oncase.
      Estou envolvida em algumas comunidades, como o PyLadies Recife, o PUG-PE e o IA Girls Brasil, sou uma das Co-Embaixadoras do Women in Data Science Recife (WIDS Recife).</div>
      <div class="bio mb-4">Quando arrumo um tempinho livre, estou dando aula particular, palestrando ou escrevendo no meu <a href="https://mfsouza.com/blog/" target="_blank">blog</a>.</div>
      <div class="bio mb-4">Se você quiser saber mais sobre tudo isso que eu faço, você está no lugar certo.</div><!--//bio-->

      <div class="mb-4">
        <a class="btn btn-secondary mb-3" href="mailto:{{ site.email }}" target="_blank"><i class="far fa-envelope fa-fw mr-2"></i>Entre em contato comigo</a>
      </div>
    </div><!--//media-body-->
  </div>
</div>
